.DS_Store
.idea
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.log
*.sqlite
ehthumbs.db
Icon?
Thumbs.db

vendor/

app/cache/*
app/logs/*

app/bootstrap*

app/config/security.yml
app/config/parameters.yml

app/config/db/db.yml
app/config/redis/redis.yml

app/config/deploy/deploy.rb

web/bundles/*

composer.phar
codecept.phar

codeception.yml
tests/*.yml
tests/_log/*