set :application,           "APPLICATION_NAME"
set :domain,                "SERVER_DOMAIN"
set :deploy_to,             "SERVER_PATH_TO_PROJECT"
set :app_path,              "app"
set :web_path,              "web"

set :repository,            "GIT_REPOSITARY"
set :branch,                "GIT_BRANCH"
set :scm,                   :git
set :deploy_via,            :copy

role :app,                  domain, :primary => true

default_run_options[:pty] = true

set :keep_releases,         3
set :ssh_options,           {:forward_agent => true, :port => 22}
set :user,                  "SERVER_USER"
set :use_sudo,              false
set :use_composer,          true
set :update_vendors,        true
set :vendors_mode,          "install"

set :shared_files,          [
                                app_path + "/config/parameters.yml",
                                app_path + "/config/db/db.yml",
                            ]


set :shared_children,       [
                                app_path + "/cache",
                                app_path + "/logs",
                                web_path + "/bundles",
                                "vendor"
                            ]

set :writable_dirs,         [
                                app_path + "/cache",
                                app_path + "/logs"
                            ]

set :webserver_user,        "SERVER_WEB_USER"
set :permission_method,     :acl
set :use_set_permissions,   true
logger.level = Logger::MAX_LEVEL